<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="SignUpTest">
        <classes>
            <class name="com.automation.tests.SignUpTest"/>
        </classes>
    </test>
    <test name="AddRecommendedItemsToCartTest">
        <classes>
            <class name="com.automation.tests.AddRecommendedItemsToCartTest"/>
        </classes>
    </test>
    <test name="DownloadInvoiceTest">
        <classes>
            <class name="com.automation.tests.DownloadInvoiceTest"/>
        </classes>
    </test>
    <test name="ScrollUpTest">
        <classes>
            <class name="com.automation.tests.ScrollUpTest"/>
        </classes>
    </test>
</suite>